ol, ul {
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17 px;
    color: #1c2c40;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
#gallery {
    padding: 100px 40px;
}
#gallery #lightgallery {
  display: flex;
  flex-wrap: wrap;

}
#gallery #lightgallery a {
    width: 20%;
    margin: 10px;

}
#gallery #lightgallery a img {
    display: block;
    width: 100%;
 
}
@media screen and (max-width: 980px) {
    #gallery #lightgallery a {
        width: 17%;
        margin: 10px;
    }
}
@media screen and (max-width: 412px) {
    #gallery #lightgallery a {
        width: 225px;
        height: 210px;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 45px;
        padding-right: 60px;
        padding-left: 40px;
    }
    #gallery #lightgallery a img {
        width: 225px;
        height: 210px;
        justify-content: space-between;
        
    }
}
@media screen and (max-width: 430px) {
    #gallery #lightgallery a {
        width: 200px;
        height: 150px;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #gallery #lightgallery a img {
        width: 250px;
        height: 230px;
        justify-content: space-between;
        
    }
}
@media screen and (max-width: 853px) {
    #gallery #lightgallery a {
        width: 200px;
        height: 150px;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 60px;
        padding-left: 40px;
    }
    #gallery #lightgallery a img {
        width: 255px;
        height: 275px;
        justify-content: space-between;
    }
    #gallery #overlay a h4{
        height: 200px;
        width: 150px;
    }
}
@media screen and (max-width: 344px) {
    #gallery #lightgallery a {
        width: 200px;
        height: 150px;
        justify-content: space-between;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: 60px;
    }
    #gallery #lightgallery a img {
        width: 200px;
        height: 195px;
        justify-content: space-between;
    }
}